.edit{
  cursor: pointer; 
  float: right;
}
.trash{
  cursor: pointer;
  float: right;
}
.Reminders{
  display: inline-block;
  padding: 10px;
  color:black;
  border-style:dotted;
  border-color: red;
  border-width: 5px;
  background-color: aquamarine;
}
.container{
  border-style: dashed;
  border-width: 3px;
  border-color: blue;
  margin-top: 20px;
}

.todo{
  margin: 5px;
  border-bottom: 1px solid black;
  padding: 4px;
}
