
  .toDoContainer {
    border: 2px solid blue;
    margin: auto;
    margin-top: 25px;
    border-radius: 25px;
    padding: 15px;
    width: 700px;
  }
  .todo {
    margin: 30px;
    font-size: 20px;
    display: flex;
    border-bottom: 2px solid black;
    width: 90%;
  }
  .todoText {
    display: flex;
    width: 100%;   
    justify-content: space-between;

  }
  .right{
    margin-left: auto;
  }
  .done {
    text-decoration: line-through;
  }
  .highlight{
    background-color: yellow;
  }
  .trash {
    cursor: pointer;
  }
  .star{
    cursor: pointer;
  }